/* Modal Styling */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
}

.modal-content {
  padding: 20px;
  position: relative;
  max-width: 80%;
  max-height: 80%;
  overflow: hidden;
}

.modal-image {
  max-width: 100%; /* Ensure the image doesn't overflow */
  max-height: 60vh; /* Limit the image height to 60% of the viewport height */
  object-fit: contain; /* Ensures image retains its aspect ratio */
  display: block;
  margin: 0 auto;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #333;
  cursor: pointer;
}

.capsule-item {
  cursor: pointer;
}

.capsule-item img {
  max-width: 100%;
  height: auto;
}
